Repository k3s-io/k3s, pull requests merged in 2020-12, with the labels that each got.

#2703 Clean up CI warnings/errors
  package/Dockerfile
  scripts/test-helpers
Labels: [zube]: Peer Review, area/ci, kind/flaky-test, priority/important-soon

#2686 Add pull-through caching registry mirrors for CI tests
  .drone.yml
  Dockerfile.test.dapper
  scripts/test-helpers
Labels: [zube]: Peer Review, area/ci, kind/flaky-test, priority/important-soon

#2708 Restore legacy master role for etcd nodes
  pkg/etcd/controller.go
Labels: [zube]: Peer Review, area/etcd, kind/bug

#2678 Fix HA server initialization
  pkg/server/router.go
  pkg/server/server.go
Labels: area/ha, kind/bug

#2716 Fix manifest CI step
  Dockerfile.manifest
Labels: [zube]: Peer Review, area/ci, kind/bug, priority/critical-urgent

#2594 Add support for both config-file and data-dir at a global level in the self-extracting wrapper for K3s
  cmd/k3s/main.go
  pkg/cli/cmds/root.go
  pkg/configfilearg/defaultparser.go
  pkg/configfilearg/parser.go
Labels: [zube]: Peer Review, kind/bug
